name: Deploy to Production

on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Action to perform'
        required: true
        default: 'plan'
        type: choice
        options:
          - plan
          - apply
          - destroy

env:
  TG_BUCKET_PREFIX: lightwave-
  AWS_REGION: us-east-1

jobs:
  deploy:
    name: Terragrunt ${{ github.event.inputs.action }}
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://console.aws.amazon.com/

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: '1.9.0'

      - name: Setup Terragrunt
        run: |
          wget -q https://github.com/gruntwork-io/terragrunt/releases/download/v0.82.3/terragrunt_linux_amd64
          chmod +x terragrunt_linux_amd64
          sudo mv terragrunt_linux_amd64 /usr/local/bin/terragrunt
          terragrunt --version

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terragrunt ${{ github.event.inputs.action }}
        working-directory: prod/us-east-1
        run: |
          terragrunt run-all ${{ github.event.inputs.action }} \
            --terragrunt-non-interactive \
            --terragrunt-working-dir .
        env:
          TG_BUCKET_PREFIX: ${{ env.TG_BUCKET_PREFIX }}
